@page
@model MathsExample3.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="post" onsubmit="return validateForm()">
    @{
        int i = 0;
    }
    @if (Model.percentage == -1)
    {
        <h2>Maths Exam</h2>
        <label>Student ID</label>
        <p>Please find your student ID from the student ID's avainable</p>
        <p>Students must answer all questions and are only allowed one attempt</p>
        <input asp-for="Stud.StudentID" required />
        <select asp-for="Stud.StudentID">
            @foreach (var id in Model.AvailableStudentIDs)
            {
                <option value="@id">@id</option>
            }
        </select>
        <table class="table">
            <thead>
                <tr>
                    <th>Question</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var q in Model.ExamQuestions)
                {
                    <tr>
                        <td><input type="hidden" value="@q.QuestionID" asp-for="@Model.StudAnswers[i].ID" /></td>
                        <td>@q.Question</td>
                        <td>Answer <input asp-for="@Model.StudAnswers[i].Ans" /></td>
                        @{
                            i++;
                        }
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" asp-page-handler="Check">
            Submit
        </button>
    }
    else
    {
        <h1>Your grade result = @Model.percentage%</h1>
    }
    @if (Model.ErrorMessage != null)
    {
        <p class="text-danger">@Model.ErrorMessage</p>
    }
</form>

<!--this code checks each answer box and if all the answers are not filled in the users
    will recieve a prompt to say Please fill in all the answers
-->
<script>
    function validateForm() {
        var inputs = document.querySelectorAll("input[type='text']");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].value == "") {
                alert("Please fill in all answers");
                return false;
            }
        }
        return true;
    }
</script>